<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
      <!-- Bootstrap core CSS -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
    
<section class="testimonial py-5" id="testimonial">
    <div class="container">
        <div class="row ">
            <div class="col-md-8 col-offset-4 py-5 border">
                <h4 class="pb-4 text-center">Add a new post</h4>
                <form action="/add" method="POST">
                   {% csrf_token %}
                    <div class="form-row">
                        <div class="form-group col-md-6">
                          <input id="AuthorName" name="author" placeholder="Author's Name" class="form-control" type="text">
                        </div>
                        <div class="form-group col-md-6">
                          <input type="email" name="email" class="form-control" id="inputEmail4" placeholder="Email">
                        </div>
                      </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <textarea id="title" name="title" placeholder="Post's Title" cols="40" rows="2" class="form-control"></textarea>
                        </div>
                        <div class="form-group col-md-12">
                                  <textarea id="artile" name="article" placeholder="post's content" cols="40" rows="5" class="form-control"></textarea>
                        </div>
                    </div>
                    
                    <div class="form-row">
                        <button type="submit" class="btn btn-danger">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
  <!-- Bootstrap core JavaScript -->
  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>
</html>